ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#slide {
    width: 750px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.point {
    position: absolute;
    bottom: 8px;
    right: 25px;
}

.point span {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    color: #777777;
    cursor: pointer;
}

.point .highlight {
    background-color: #FF7744;
    color: white;
}

#mm {
    width: 750px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
